:root {
  // ---------- COLOURS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-150: hsl(228, 9%, 92%);
  --color-neutral-500: hsl(228, 10%, 47%);
  --color-neutral-800: hsl(228, 23%, 23%);

  --color-primary: hsl(185, 75%, 39%);

  // ---------- FONTS
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 0.625rem; // 10px
  --fs-200: 0.875rem; // 14px
  --fs-300: 1.125rem; // 18px

  --ff-primary: 'Kumbh Sans', sans-serif;

  // ---------- BODY
  --body-font: var(--fw-regular) var(--fs-300) var(--ff-primary);
  --body-color: var(--color-neutral-800);
  --body-bg: var(--color-primary);
  --body-bg-img: url('../assets/images/bg-pattern-top.svg'),
    url('../assets/images/bg-pattern-top.svg');
  --body-bg-img-pos: right 45vw bottom 45vh, 45vw 45vh;
}
