:root {
  // ---------- COLOURS
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-150: hsl(228, 9%, 92%);
  --color-neutral-500: hsl(228, 10%, 47%);
  --color-neutral-800: hsl(228, 23%, 23%);
}
