@use 'functions' as func;

// ---------- BREAKPOINTS
$brk-sm: func.getEm(640);
$brk-md: func.getEm(1024);
$brk-lg: func.getEm(1280);
$brk-xl: func.getEm(1440);

$brk-dwn-sm: func.getEm(639.98);
$brk-dwn-md: func.getEm(1023.98);
$brk-dwn-lg: func.getEm(1279.98);
$brk-dwn-xl: func.getEm(1439.98);

// ---------- COLOURS
$clr-neutral-100: hsl(0, 100%, 100%);
$clr-neutral-200: hsl(228, 9%, 92%);
$clr-neutral-300: hsl(0, 0%, 59%);
$clr-neutral-500: hsl(227, 10%, 46%);
$clr-neutral-900: hsl(229, 23%, 23%);

$clr-pri-500: hsl(185, 75%, 39%);

// ---------- TYPOGRAPHY
$fw-regular: 400;
$fw-bold: 700;

$fs-100: func.getRem(10);
$fs-200: func.getRem(14);
$fs-400: func.getRem(18);

$ff-pri: 'Kumbh Sans', sans-serif;
$ff-sec: null;

// ----- Copy
$copy-clr: null;
$copy-leading: null;
$copy-fw: null;
$copy-fs: null;
$copy-ff: $ff-pri;

$copy-font: $copy-fw $copy-fs $copy-ff;

// ----- Title
$title-pri-fw: $fw-bold;
$title-pri-ff: $ff-pri;

$title-sec-fw: null;
$title-sec-ff: null;

// ---------- LINKS
$link-trans: 150ms ease-in-out;
$link-trans-prop: null;
$link-clr: null;
$link-clr-active: null;
$link-decoration: none;
$link-decoration-active: none;

// ---------- LAYOUT

// ----- Wrapper
$wrapper-max-width: func.getRem(375);
