@use '../abstracts/mixins' as mixin;

@include mixin.font-face(
  $font-family: 'Kumbh Sans',
  $font-path: '/assets/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf',
  $font-weight: 400 700
);
