@use '../abstracts' as abstract;

.profile-card {
  @include abstract.flex;

  background-color: var(--profile-card-bg);
  border-radius: var(--profile-card-radius);
  box-shadow: var(--profile-card-box-shadow);
  margin-inline: auto;
  flex-direction: column;
  width: var(--profile-card-width);
  overflow: hidden;

  &__profile-img {
    border: var(--profile-card-img-border);
    border-radius: var(--profile-card-img-radius);
    transform: var(--profile-card-transform);

    img {
      border-radius: var(--profile-card-img-radius);
    }
  }
}
