@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as var;

.card {
  max-width: var.$card-max-width;
  background-color: var.$card-bg;
  box-shadow: var.$card-shadow;
  border-radius: var.$card-radius;
  overflow: hidden;

  hr {
    margin-block: var.$card-hr-margin-block;
    border: 0;
    border-top: var.$card-hr-border;
  }

  .card-title {
    color: var.$card-title-clr;
    font: var.$card-title-font;

    small {
      color: var.$card-title-sml-clr;
      font-weight: var.$card-title-sml-fw;
    }
  }

  .card-heading {
    color: var.$card-heading-clr;
    font: var.$card-heading-font;
  }

  @include mixin.breakpoint(lg) {
    max-width: var.$card-max-width-lg;
  }
}

// Profile Card
.profile-card {
  text-align: center;
}

// Profile Details
.profile-details .card-title {
  margin-top: var.$profile-details-title-marg-top;

  small {
    margin-left: var.$profile-details-title-sml-marg-left;
  }
}

.profile-details .card-heading {
  margin-top: var.$profile-details-heading-marg-top;
}

// Profile Image
.profile-img {
  img {
    transform: translateY(-50%);
    border-radius: var.$profile-img-radius;
    border: var.$profile-img-border;
    margin-inline: auto;
  }
}

// Profile Stats
.profile-stats {
  padding-bottom: var.$profile-stats-padd-bottom;
  color: var.$profile-stats-clr;

  li {
    display: inline-block;
    margin-right: var.$profile-stats-marg-right;
    font-weight: var.$profile-stats-fw;

    &:last-child {
      margin-right: 0;
    }

    span {
      display: block;
      margin-top: var.$profile-stats-span-marg-top;
      color: var.$profile-stats-span-clr;
      letter-spacing: var.$profile-stats-span-tracking;
      font-weight: var.$profile-stats-span-fw;
      font-size: var.$profile-stats-span-fs;
    }
  }
}
