@use '../abstracts' as abstract;

.profile-card {
  @include abstract.flex;

  background-color: var(--profile-card-bg);
  border-radius: var(--profile-card-radius);
  box-shadow: var(--profile-card-box-shadow);
  margin-inline: auto;
  flex-direction: column;
  width: var(--profile-card-width);
  overflow: hidden;

  &__profile-img {
    border: var(--profile-card-img-border);
    border-radius: var(--profile-card-img-radius);
    transform: var(--profile-card-transform);

    img {
      border-radius: var(--profile-card-img-radius);
    }
  }

  &__container {
    text-align: center;
    margin-top: var(--profile-card-container-margin-top);
    padding-bottom: var(--profile-card-container-padding-bottom);

    &-user {
      font-weight: var(--profile-card-user-fw);

      span {
        font-weight: var(--profile-card-user-span-fw);
        color: var(--profile-card-user-span-color);
        margin-left: var(--profile-card-user-margin-left);
      }
    }
  }

  &__stats {
    @include abstract.flex;

    text-align: center;
    font-weight: var(--profile-card-user-stats-fw);
    border-top: var(--profile-card-user-stats-border-top);
    padding-block: var(--profile-card-user-stats-padding-block);
    flex-direction: row;
    column-gap: var(--profile-card-user-stats-col-gap);
    width: 100%;

    span {
      font-weight: var(--profile-card-user-stats-span-fw);
      font-size: var(--profile-card-user-stats-span-fs);
      letter-spacing: var(--profile-card-user-stats-span-tracking);
      color: var(--profile-card-user-stats-span-color);
    }
  }
}
